/target/
/.idea/copyright/profiles_settings.xml
/.idea/workspace.xml
/.idea/uiDesigner.xml
/.idea/misc.xml
/.idea/.name
/.idea/encodings.xml
/.idea/modules.xml
/.idea/scala_compiler.xml
/.idea/compiler.xml
/.idea/vcs.xml
/.idea
/RTDMP.iml
/.idea/copyright
/.idea/libraries
